<header>
<h1>
Welcome to Lawyer, <%= current_editor.email %>!
</h1>
<h2>
We're using Rails <%= Rails.version %>
</h2>
</header>
<section>
<p>
Future home of Lawyer's Dashboard
</p>
</section>